{% extends 'Base.html' %}

{% load static %}
{% block title %}About Us{% endblock title %}

{% block content2 %}
<div class="top">
  <div class="about-section">
    <h1>About Us</h1>
    <div class="text-center mt-4">
      <p>WeDeliver is online Courier Delivery Service which help user to deliver there
      courier without going to post office and can place order online from anywhere
      and we will there to pickup and deliver your survice<p>
    </div>
  </div>

  <h2 class="text-center mt-4">
    <p>Our Team<p>
  </h2>
  <div class="row ">
    <div class="col col-sm-12">
      <div class="card card_aboutus">
        <div class="row">
          <div class="col-12 col-sm-4 border-end">
            <img src="{% static 'media/aboutus.png' %}" alt="Tanmay" style="width:15rem;display: block;
            margin: 0 auto;">
          </div>
          <div class="col-12 col-sm-8">
            <div class="container mt-4">
              <h2>Tanmay Shinde</h2>
              <h6>Class : TYIT</h6>
              <h6>Seat No. : 2013269</h6>
              <h6>Email : tanmayshinde79@gmail.com</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-12">
      <div class="card card_aboutus">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div class="container mt-4 end">
              <h2>Adesh Zinjad</h2>
              <h6>Class : TYIT</h6>
              <h6>Seat No. : 2013286</h6>
              <h6>Email : adsehzinjad@gmail.com</h6>
            </div>
          </div>
          <div class="col-12 col-sm-4 border-start">
            <img src="{% static 'media/aboutus.png' %}" alt="Tanmay" style="width:15rem;display: block;
            margin: 0 auto;">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock content2 %}